.home {
    background-color: rgb(70, 70, 70);
    font-weight: 600;

    img {
        max-width: 100%;
    }
}

.my_title-index {
    background-color: rgb(112, 240, 80);
    padding: .75rem 1.25rem;
    display: inline-block;
}